@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

.dashboardGlobal {
  font-family: 'Jost', sans-serif !important;
  font-size: 0.85rem !important;

  /* Apply to all child elements to ensure consistent small font and family */
  * {
    font-family: 'Jost', sans-serif;
  }
}
